/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .flex {
   background: gray;
   display: flex;
   justify-content: space-around;
   position: fixed;
   top: 0;
   width: 100%;
 }
 .danger {
   color: black;
 }

 .warm {
   color: green;
 }
.field{
  width: 100%;
  background-color: lightgray;
}
.field-danger{
  background-color: lightgray;
  width: 100%;
}
.field-warm{
  background-color: lightgray;
  width: 100%;
}
.text-input{
  text-align: center;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  border-style: solid;
  font-weight: bold;
  background-color: darkgray;
  
}

.event-button{
  margin-left: 70px;
  padding: 10px;
  font-size: 15px;
  background-color: lightgray;
  border: 0;
}
.event-button:hover{
  background-color: gray;
}
.details{
  text-align: center;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  font-weight: bold;
}
.index-page {
text-align: center;
background-color: gray;
display: flex;
flex-direction: column;
justify-self: bottom;
color: black;
font-size: 20px;
font-size: 20px;
}
.home-page{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.set-signup{
  padding-left: 20px;
}
 body {
   background-color: white;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }